/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

*{
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif; 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #2b2b2b;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    color: #5500aa;
}

h2{ 
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
}

h3{ 
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
}


a{
    color: #5500aa;
}

a:visited{
    color: #cab059;
}   

a:hover, :focus{
    text-decoration: none;
}

a:active{
    color: #cf5555;
}

button{
    border: none;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus{
    cursor: pointer;
    opacity: 0.8;
}

/* start page header*/
.page-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    padding: 20px;
  }
  
.page-header__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 200px;
            flex: 0 1 200px;
  }
  
.page-header__item:last-child {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    text-align:right;
  }

.navigation-list{
    list-style:none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
} 

.navigation-list__item--active{
    text-decoration: none;
}
/* end page header*/

/*navigation bar animation*/
nav.page-header__item {
    margin: 0 auto;
	padding: 25px;
	text-align: center;
}

nav.page-header__item a {
    color: #5500aa;
    text-decoration: none;
    font-family:  'Playfair Display', serif;
    font-weight: 700px;
    margin: 0px 5px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navigation-list a:before {
    position: absolute;
    left: 0;
    width:100%;
    height: 2px;
    background: #5500aa;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation-list a:after {
    position: absolute;
    left: 0;
    width:100%;
    height: 2px;
    background: #5500aa;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

.navigation-list a:before{
    top: 0px;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

.navigation-list a:after{
    bottom: 0px;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}

.navigation-list a:hover:before, .navigation-list a:hover:after{
    opacity: 1;
    -webkit-transform: translateY(0px);
        -ms-transform: translateY(0px);
            transform: translateY(0px);
}
/*end of navigation link animations*/


.contact-form{
    text-align: left;
}

.title-contact{
    text-align: left;
}

fieldset{
    display: inline-block;    
}

.profile{
    max-width: 700px;
    margin:100px auto 200px;
    text-align: center;
}

.profile__portrait{
    float:left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;  
}

.page-footer{
    clear:both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 50px;
}

.works-project h1{
    text-align:center;
}

.about{
    clear:both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.about-list{
    list-style:none;
}

/*start grid fallback*/
.project-list{
    display: inline-block;
    width: 100%;
}
/* end grid fallback */

@supports (display:grid) {
    .project-list{
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .project-list__item{
        background-color: lightgray;
        width:auto;
        min-height: auto;
    }

    .project-list__item:last-child{
        -ms-grid-column: 3;
        grid-column: 3/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }
}    


.button{
    /*overwrites browser defaults and resets the border*/
    border: none;
    display: inline-block;
    /*takes the font from the outer container*/
    font-family:inherit;
    /*styles the button*/
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /*width of border, type, color*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-property: opacity 0.2s;
    -o-transition-property: opacity 0.2s;
    transition-property: opacity 0.2s;
}    


button{
    /*overwrites browser defaults and resets the border*/
    border: none;
    display: inline-block;
    /*takes the font from the outer container*/
    font-family:inherit;
    /*styles the button*/
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /*width of border, type, color*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-property: opacity 0.2s;
    -o-transition-property: opacity 0.2s;
    transition-property: opacity 0.2s;
}

button:hover, 
button:focus,
.button:hover,
.button.focus {
    /*lets the mouse appear as a hand when hovering over the button*/
    cursor: pointer;
     /*reduces the opacity of the button to 80% */
    opacity:0.8;
}





/*SVG image for About Page*/
.svg-cityimage{
    clear:both ;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;

}

/*SVG Animations for About Page*/
@-webkit-keyframes color-change{
    0%{
        fill: #000000;
    }
    50%{
        fill: #6f56c0;
    }
    100%{
        fill: #edcdba;
    }
}
@keyframes color-change{
    0%{
        fill: #000000;
    }
    50%{
        fill: #6f56c0;
    }
    100%{
        fill: #edcdba;
    }
}

.skyline{
    -webkit-animation: 10s color-change infinite alternate linear;
            animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move{
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px)
    }
    to{
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}

@keyframes cloud-move{
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px)
    }
    to{
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}

.cloud-top{
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
    -webkit-transform: rotate(180);
        -ms-transform: rotate(180);
            transform: rotate(180);
}

@-webkit-keyframes cloud-move-reverse{
    from{
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px)
    }
    to{
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

@keyframes cloud-move-reverse{
    from{
        -webkit-transform: translate(446px, 48px);
                transform: translate(446px, 48px)
    }
    to{
        -webkit-transform: translate(100px, 48px);
                transform: translate(100px, 48px);
    }
}

.cloud-bottom{
    -webkit-animation: 34s cloud-move-reverse infinite alternate linear;
            animation: 34s cloud-move-reverse infinite alternate linear;
}



/* responsive classes*/
/*for displays smaller than 500px*/
@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }
    .page-header img{ 
        max-width: 50%;
        height: 50%;
    }
    .navigation-list li{
        font-size: 16px;
    }
}
    

/*for displays between 500px to 750px*/
@media all and (min-width:500px) and (max-width:750px){
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list{
        grid-gap: 10px;
    }
    .project-list__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size:22px
    }
    h2{
        font-size: 20px;
    }    
}