/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

body {
    font-family: 'Quattrocento Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: #2b2b2b;
}

h1 {
    font-family: 'Playfair Display', serif;
    font-size: 30px;
    font-weight: 700;
    color: #50a;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    font-weight: 700;
}

a {
    color: #50a;
}

a:visited {
    color: #cab059;
}

a:hover :focus {
    text-decoration: none;
}

a:active {
    color: #cf5555;
}

/* start page header */
nav {
    max-width: 900px;
    margin: 20px auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[5];
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}

nav a {
    text-decoration: none;
    color: #50a;
}

nav a:visited {
    color: #50a;
}

nav a:active {
    color: #cab059;
}

/* end page header */

/* navigation bar animation */
nav a {
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

nav a {
    color: #50a;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-weight: 700px;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav a:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #50a;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: #50a;
    content: "";
    opacity: 0;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

nav a:before {
    top: 0;
    -webkit-transform: translateY(2px);
        -ms-transform: translateY(2px);
            transform: translateY(2px);
}

nav a:after {
    bottom: 0;
    -webkit-transform: translateY(-2px);
        -ms-transform: translateY(-2px);
            transform: translateY(-2px);
}

nav a:hover:before {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

nav a:hover:after {
    opacity: 1;
    -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
            transform: translateY(0);
}

/* end of navigation link animations */

.contact-form {
    text-align: left;
}

main h1 {
    text-align: center;
}

main {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

main a {
    display: block;
}

fieldset {
    display: inline-block;
}

.profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: 700px;
    margin: 100px auto 200px;
    text-align: center;
}

.profile__portrait {
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}

.profile-body {
    margin: 15px;
}

.page-footer {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    margin: 50px;
}

.works-project h1 {
    text-align: center;
}

.about {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
}

.about-list {
    list-style: none;
    padding: 0;
}

/* start grid fallback */
.project-list {
    display: inline-block;
    width: 100%;
}

/* end grid fallback */

@supports (display:grid) {
    .project-list {
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 20px 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .project-list__item {
        background-color: lightgray;
        width: auto;
        min-height: auto;
    }

    .project-list__item:last-child {
        -ms-grid-column: 3;
        grid-column: 3/3;
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        grid-row: 1/3;
    }
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: #357b70;
    color: white;
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    -webkit-transition-property: opacity 0.2s;
    -o-transition-property: opacity 0.2s;
    transition-property: opacity 0.2s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button.focus {
    cursor: pointer;
    opacity: 0.8;
}

/* SVG image for About Page */
.svg-cityimage {
    clear: both;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 50px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 12px;
}

/* SVG Animations for About Page */
@-webkit-keyframes color-change {
    0% {
        fill: #000;
    }

    50% {
        fill: #6f56c0;
    }

    100% {
        fill: #edcdba;
    }
}
@keyframes color-change {
    0% {
        fill: #000;
    }

    50% {
        fill: #6f56c0;
    }

    100% {
        fill: #edcdba;
    }
}

.skyline {
    -webkit-animation: 10s color-change infinite alternate linear;
            animation: 10s color-change infinite alternate linear;
}

@-webkit-keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}

@keyframes cloud-move {
    from {
        -webkit-transform: translate(0, 50px);
                transform: translate(0, 50px);
    }

    to {
        -webkit-transform: translate(446px, 50px);
                transform: translate(446px, 50px);
    }
}

.cloud-top {
    -webkit-animation: 30s cloud-move infinite alternate linear;
            animation: 30s cloud-move infinite alternate linear;
}

.svg-cityimage {
    width: 100%;
    padding: 100px;
    margin: 10px auto;
}

/* responsive classes */

/* for displays smaller than 500px */
@media all and (max-width: 500px) {
    .project-list {
        -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    }

    .profile {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
    }

    nav img {
        height: 100%;
        -ms-grid-row: 1;
        grid-row: 1;
    }

    nav a {
        font-size: 16px;
        padding: 0;
        -ms-grid-row: 2;
        grid-row: 2;
    }
}

/* for displays between 500px to 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        -ms-grid-columns: 1fr 20px 1fr;
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
    }

    .project-list__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}

/* for displays smaller than 900px */
@media all and (max-width: 900px) {
    nav {
        -ms-grid-columns: (1fr)[4];
        grid-template-columns: repeat(4, 1fr);
        -ms-grid-rows: (100px)[2];
        grid-template-rows: repeat(2, 100px);
    }
    nav > *:nth-child(1) {
        -ms-grid-row: 1;
        -ms-grid-column: 1;
    }
    nav > *:nth-child(2) {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
    }
    nav > *:nth-child(3) {
        -ms-grid-row: 1;
        -ms-grid-column: 3;
    }
    nav > *:nth-child(4) {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
    }
    nav > *:nth-child(5) {
        -ms-grid-row: 2;
        -ms-grid-column: 1;
    }
    nav > *:nth-child(6) {
        -ms-grid-row: 2;
        -ms-grid-column: 2;
    }
    nav > *:nth-child(7) {
        -ms-grid-row: 2;
        -ms-grid-column: 3;
    }
    nav > *:nth-child(8) {
        -ms-grid-row: 2;
        -ms-grid-column: 4;
    }

    nav img {
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-column: 1 / 5;
        -ms-grid-row: 1;
        grid-row: 1;
        max-width: 100%;
        max-height: 100%;
        -ms-grid-column-align: center;
            justify-self: center;
    }

    nav a {
        -ms-grid-row: 2;
        grid-row: 2;
    }
}
