:root {
    --primary-color: #50a;
    --secondary-color: #cab059;
    --lightblue: #357b70;
    --lightGrey: lightgray;
    --lighterFontColor: white;
    --darkerFontColor: #2b2b2b;
    --mainFontType: 'Quattrocento Sans', sans-serif;
    --secondaryFontType: 'Playfair Display', serif;
}

* {
    box-sizing: border-box;
}

body {
    font-family: var(--mainFontType);
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--darkerFontColor);
}

h1 {
    font-family: var(--secondaryFontType);
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

h2 {
    font-family: var(--secondaryFontType);
    font-size: 24px;
    font-weight: 700;
}

h3 {
    font-family: var(--secondaryFontType);
    font-size: 18px;
    font-weight: 700;
}

a {
    color: var(--primary-color);
}

a:visited {
    color: var(--secondary-color);
}

a:hover :focus {
    text-decoration: none;
}

a:active {
    color: #cf5555;
}

/* start page header */
nav {
    max-width: 900px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    text-align: center;
    align-items: center;
    justify-content: center;
}

nav a {
    text-decoration: none;
    color: var(--primary-color);
}

nav a:visited {
    color: var(--primary-color);
}

nav a:active {
    color: var(--secondary-color);
}

/* end page header */

/* navigation bar animation */
nav a {
    margin: 0 auto;
    padding: 25px;
    text-align: center;
}

nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-family: var(--secondaryFontType);
    font-weight: 700px;
    margin: 0 5px;
    padding: 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

nav a:before {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    opacity: 0;
    transition: all 0.5s;
}

nav a:after {
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    opacity: 0;
    transition: all 0.5s;
}

nav a:before {
    top: 0;
    transform: translateY(2px);
}

nav a:after {
    bottom: 0;
    transform: translateY(-2px);
}

nav a:hover:before {
    opacity: 1;
    transform: translateY(0);
}

nav a:hover:after {
    opacity: 1;
    transform: translateY(0);
}

/* end of navigation link animations */

.contact-form {
    text-align: left;
}

main h1 {
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

main a {
    display: block;
}

fieldset {
    display: inline-block;
}

.profile {
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 700px;
    margin: 100px auto 200px;
    text-align: center;
}

.profile__portrait {
    width: 250px;
    margin: 15px;
    border-radius: 50%;
}

.profile-body {
    margin: 15px;
}

.page-footer {
    clear: both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.works-project h1 {
    text-align: center;
}

.about {
    clear: both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-list {
    list-style: none;
    padding: 0;
}

/* start grid fallback */
.project-list {
    display: inline-block;
    width: 100%;
}

/* end grid fallback */

@supports (display:grid) {
    .project-list {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .project-list__item {
        background-color: var(--lightGrey);
        width: auto;
        min-height: auto;
    }

    .project-list__item:last-child {
        grid-column: 3/3;
        grid-row: 1/3;
    }
}

.button {
    /* overwrites browser defaults and resets the border */
    border: none;
    display: inline-block;
    font-family: inherit;
    background-color: var(--lightblue);
    color: var(--lighterFontColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-property: opacity 0.2s;
}

.button:hover {
    cursor: pointer;
    opacity: 0.8;
}

.button.focus {
    cursor: pointer;
    opacity: 0.8;
}

/* SVG image for About Page */
.svg-cityimage {
    clear: both;
    display: flex;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;
}

/* SVG Animations for About Page */
@keyframes color-change {
    0% {
        fill: #000;
    }

    50% {
        fill: #6f56c0;
    }

    100% {
        fill: #edcdba;
    }
}

.skyline {
    animation: 10s color-change infinite alternate linear;
}

@keyframes cloud-move {
    from {
        transform: translate(0, 50px);
    }

    to {
        transform: translate(446px, 50px);
    }
}

.cloud-top {
    animation: 30s cloud-move infinite alternate linear;
    transform: rotate(180);
}

@keyframes cloud-move-reverse {
    from {
        transform: translate(446px, 48px);
    }

    to {
        transform: translate(100px, 48px);
    }
}

.cloud-bottom {
    animation: 34s cloud-move-reverse infinite alternate linear;
}

/* responsive classes */

/* for displays smaller than 500px */
@media all and (max-width: 500px) {
    .project-list {
        grid-template-columns: 1fr;
    }

    .profile {
        flex-direction: column;
    }

    nav img {
        height: 100%;
        grid-row: 1;
    }

    nav a {
        font-size: 16px;
        padding: 0;
        grid-row: 2;
    }
}

/* for displays between 500px to 750px */
@media all and (min-width: 500px) and (max-width: 750px) {
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list {
        grid-gap: 10px;
    }

    .project-list__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }

    h1 {
        font-size: 22px;
    }

    h2 {
        font-size: 20px;
    }
}

/* for displays smaller than 900px */
@media all and (max-width: 900px) {
    nav {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 100px);
    }

    nav img {
        grid-column: 1 / 5;
        grid-row: 1;
        max-width: 100%;
        justify-self: center;
    }

    nav a {
        grid-row: 2;
    }
}
