:root {
    --primary-color: #5500aa;
    --secondary-color: #cab059;
    --lightblue: #357b70;
    --lightGrey: lightgray;
    --lighterFontColor: white;
    --darkerFontColor: #2b2b2b;
    --mainFontType: 'Quattrocento Sans', sans-serif;
    --secondaryFontType: 'Playfair Display', serif
}

*{
    box-sizing: border-box;
}

body {
    font-family: var(--mainFontType); 
    font-weight: 400;
    font-size: 18px;
    line-height: 1.6;
    color: var(--darkerFontColor);
}

h1 {
    font-family: var(--secondaryFontType);
    font-size: 30px;
    font-weight: 700;
    color: var(--primary-color);
}

h2{ 
    font-family: var(--secondaryFontType);
    font-size: 24px;
    font-weight: 700;
}

h3{ 
    font-family: var(--secondaryFontType);
    font-size: 18px;
    font-weight: 700;
}


a{
    color: var(--primary-color);
}

a:visited{
    color: var(--secondary-color);
}   

a:hover, :focus{
    text-decoration: none;
}

a:active{
    color: #cf5555;
}

button{
    border: none;
    font-family: inherit;
    background-color: var(--lightblue) ;
    color: var(--lighterFontColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

button:hover, button:focus{
    cursor: pointer;
    opacity: 0.8;
}

/* start page header*/
.page-header {
    display: flex;
    width: 100%;
    padding: 20px;
    align-items: center;
  }
  
.page-header__item {
    flex: 0 1 200px;
  }
  
.page-header__item:last-child {
    flex-grow: 1;
    text-align:right;
  }

.navigation-list{
    list-style:none;
}

.navigation-list li {
    display: inline-block;
    margin-left: 15px;
} 

.navigation-list__item--active{
    text-decoration: none;
}
/* end page header*/

/*navigation bar animation*/
nav.page-header__item {
    margin: 0 auto;
	padding: 25px;
	text-align: center;
}

nav.page-header__item a {
    color: var(--primary-color);
    text-decoration: none;
    font-family:  var(--secondaryFontType);
    font-weight: 700px;
    margin: 0px 5px;
    padding: 5px 5px;
    position: relative;
    z-index: 0;
    cursor: pointer;
}

.navigation-list a:before, .navigation-list a:after {
    position: absolute;
    left: 0;
    width:100%;
    height: 2px;
    background: var(--primary-color);
    content: "";
    opacity: 0;
    transition: all 0.5s;
}

.navigation-list a:before{
    top: 0px;
    transform: translateY(2px);
}

.navigation-list a:after{
    bottom: 0px;
    transform: translateY(-2px);
}

.navigation-list a:hover:before, .navigation-list a:hover:after{
    opacity: 1;
    transform: translateY(0px);
}
/*end of navigation link animations*/


.contact-form{
    text-align: left;
}

main h1{
    text-align: center;
}

main {
    display: grid;
    justify-content: center;
    align-items: center;
    text-align: center;
}
main a{
    display: block
}

fieldset{
    display: inline-block;    
}

.profile{
    max-width: 700px;
    margin:100px auto 200px;
    text-align: center;
}

.profile__portrait{
    float:left;
    width: 250px;
    margin-right: 40px;
    border-radius: 50%;  
}

.page-footer{
    clear:both;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 50px;
}

.works-project h1{
    text-align:center;
}

.about{
    clear:both;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.about-list{
    list-style:none;
}

/*start grid fallback*/
.project-list{
    display: inline-block;
    width: 100%;
}
/* end grid fallback */

@supports (display:grid) {
    .project-list{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 20px;
    }

    .project-list__item{
        background-color: var(--lightGrey);
        width:auto;
        min-height: auto;
    }

    .project-list__item:last-child{
        grid-column: 3/3;
        grid-row: 1/3;
    }
}    


.button, button{
    /*overwrites browser defaults and resets the border*/
    border: none;
    display: inline-block;
    /*takes the font from the outer container*/
    font-family:inherit;
    /*styles the button*/
    background-color: var(--lightblue);
    color: var(--lighterFontColor);
    text-decoration: none;
    padding: 10px;
    border-radius: 3px;
    /*width of border, type, color*/
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
    transition-property: opacity 0.2s;
}

button:hover, 
button:focus,
.button:hover,
.button.focus {
    /*lets the mouse appear as a hand when hovering over the button*/
    cursor: pointer;
     /*reduces the opacity of the button to 80% */
    opacity:0.8;
}





/*SVG image for About Page*/
.svg-cityimage{
    clear:both ;
    display: flex;
    margin: 50px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 12px;

}

/*SVG Animations for About Page*/
@keyframes color-change{
    0%{
        fill: #000000;
    }
    50%{
        fill: #6f56c0;
    }
    100%{
        fill: #edcdba;
    }
}

.skyline{
    animation: 10s color-change infinite alternate linear;
}

@keyframes cloud-move{
    from {
        transform: translate(0, 50px)
    }
    to{
        transform: translate(446px, 50px);
    }
}

.cloud-top{
    animation: 30s cloud-move infinite alternate linear;
    transform: rotate(180);
}

@keyframes cloud-move-reverse{
    from{
        transform: translate(446px, 48px)
    }
    to{
        transform: translate(100px, 48px);
    }
}

.cloud-bottom{
    animation: 34s cloud-move-reverse infinite alternate linear;
}



/* responsive classes*/
/*for displays smaller than 500px*/
@media all and (max-width: 500px) {
    .project-list {
        grid-template-columns: 1fr;
    }

    .page-header img{ 
        max-width: 50%;
        height: 50%;
    }
    .navigation-list li{
        font-size: 16px;
        padding: 0;
    }
}
    

/*for displays between 500px to 750px*/
@media all and (min-width:500px) and (max-width:750px){
    .project-list {
        grid-template-columns: 1fr 1fr;
    }
}

@media all and (max-width: 750px) {
    .project-list{
        grid-gap: 10px;
    }
    .project-list__item:last-child {
        grid-column: auto/auto;
        grid-row: auto/auto;
    }
    h1 {
        font-size:22px
    }
    h2{
        font-size: 20px;
    }    
}